@import '../../../../node_modules/pickerjs/dist/picker.min.css';

.block__register_subtitle {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;

    color:#171C1F;
}

.block__register_title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;    
    
    color:#171C1F;
    
}

.block__register_select {
    background-color: var(--grey-color);

    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;

    /* background-color: #fff;  */
    background-image: url('../../../assets/image/arrow_select.svg'); 
    background-repeat: no-repeat, repeat; 
    background-position: right .7em top 50%, 0 0; 
    background-size: .65em auto, 100%; 

    appearance: none;

    border-radius: 7px;
}
.block__register_select:focus-within {
    border: none;
    outline: none; 
}
.block__register_input {
    margin-top: 25px;

    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;

    border-radius: 7px;

    color: var(--dark-color);
    background-color: var(--grey-color);
}
.block__register_textarea {
    margin-top: 25px;

    width: 100%;
    height: 168px;

    max-height: 200px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;

    border-radius: 7px;

    color: var(--dark-color);
    background-color: var(--grey-color);
}
.block__register_textarea:focus-within {
    border: none;
    outline: none; 
}


.block__register_input:focus-within {
    border: none;
    outline: none; 
}

.block__register_input::placeholder {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
}

.block__register_popup {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: -100;

    transition: 0.4s;
}
.block__register_popup_content_active {
    transform: translateY(0%) !important;
}
.block__register_popup_active {
    z-index: 100 !important;
}
.block__register_popup_backdrop {
    position: absolute;
    /* z-index: 1000; */
    width: inherit;
    height: inherit;
    background-color: red;
}
.block__register_popup_content {
    position: absolute;
    bottom: 25px;
    box-shadow: 2px 5px 10.6px 0px #171C1F33;
    border-radius: 25px;
    transition: 0.4s;

    transform: translateY(100%);
}