  .panel_admin_records input[type="checkbox"] {
    border: 2px solid var(--dark-color);
    width: 20px;
    height: 20px;
  }
  
  .checkbox{
    position: relative;
    width: fit-content;
  
    position: relative;
    height: 20px;
    border-radius: 5px;
  
    display: flex;
  }
  
  .checkbox-label{
  
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.8px;
  }
  .checkbox-new {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    /* border-radius: 20px; */
    user-select: none;
    -webkit-user-select: none;
  }
  
  .checkbox-new_checked {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checkbox-input:not(:checked) + .checkbox-new > .checkbox-new_checked {
    display: none;
  }
  .checkbox-input:checked {
    background: var(--yellow-color);  
    border: 15px solid #000000;
  }
  
  .panel_admin_records input[type="checkbox"]:checked {
    border: 1px solid transparent;
  }
  
  .checkbox-input:checked + .checkbox-new {
    color: #000000;
  }
  
  .checkbox-input {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
  }
  